body{
    padding: 0px;
    margin: 0px;
    border-radius: border-box;
    height : 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#root{
    width: 400px;
    padding: 20px 10px;
    text-align: center ;
    background-color: rgb(218, 198, 172);
}
.second{
    font-size: 20px;
}